.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }
  
  .productCard {
    flex: 1 1 calc(25% - 20px); /* Each product takes up 25% of the row minus the gap */
    max-width: calc(25% - 20px); /* Ensures it doesn’t exceed the width */
    box-sizing: border-box; /* Includes padding and border in width calculation */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .productCard:hover {
    transform: translateY(-10px);
  }
  
  .productImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .productCard h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
  }

  .productCard a {
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Ensures the link text inherits the parent's color */
  }
  
  .productCard a:hover {
    text-decoration: none; /* Keeps the link text without underline on hover */
  }
  
  
  .productCard p {
    font-size: 1em;
    margin: 5px 0;
    color: #666;
  }
  
  .productCard p:last-child {
    font-weight: bold;
    color: #000;
  }
  